/* Global */

img[src$='.gif'],
img[src$='.png'] {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: #1882eb;
  --color-light-blue: #c3daf1;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* 폰트 간격 */
  --space-large: 32px;
  --space-medium: 16px;
  --space-small: 8px;

  --size-border-radius: 10px;

  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
  padding-bottom: 30px;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar_dark {
  background-color: var(--color-light-blue);
  padding: 8px;
}

.navbar_menu {
  display: flex;
}

.navbar_logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar_logo img {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar_menu_item.active {
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-dark-blue);
}

.navbar_menu_item:hover {
  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
}

.navbar_toggle_btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

#home {
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  background-color: var(--color-light-blue);
}

.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid var(--color-white);
}

.home_title,
.home_descripntion {
  color: var(--color-black);
}

.home_contact {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-black);
  border-radius: var(--size-border-radius);
}

.home_contact:hover {
  border: 2px solid var(--color-white);
  color: var(--color-white);
}

.section {
  padding: 80px;
  text-align: center;
  margin: auto;
}

.section_container {
  max-width: 1400px;
  margin: auto;
}

.job {
  display: flex;
  align-items: center;
}

.job_logo {
  width: 250px;
}

.job_description {
  margin: 0 16px;
  text-align: left;
}

.job_name,
.job_period {
  color: var(--color-light-grey);
}

.job_name {
  font-size: var(--font-small);
}

.job_period {
  font-size: var(--font-micro);
}

#skills {
  background-color: var(--color-dark-blue);
}

#skills h1,
h2,
p {
  color: var(--color-white);
}

#skills h1 {
  font-size: 5rem;
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-white);
  margin: 20px 40px;
}

.skillset_title {
  color: var(--color-white);
}

.skillset_left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px;
}

.skill {
  margin-bottom: 8px;
}

.about_majors {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-content: space-around;
  margin: 80px auto;
}
.major div {
  margin: 15px;
}

.major img {
  width: 350px;
}

.major_img_front {
  width: 400px;
  height: 150px;
  line-height: 170px;
  font-size: 70px;
  background-color: var(--color-white);
  color: var(--color-blue);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
  margin-bottom: 16px;
}

.major_img_back {
  width: 400px;
  height: 650px;
  padding-top: 10px;
  line-height: 750px;
  font-size: 70px;
  background-color: var(--color-white);
  color: var(--color-blue);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
  margin-bottom: 16px;
}

.major_img_version {
  width: 400px;
  height: 230px;
  line-height: 250px;
  font-size: 70px;
  background-color: var(--color-white);
  color: var(--color-blue);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
  margin-bottom: 30px;
}

.major_img_version img {
  margin-top: 5px;
  margin-left: 5px;
}

.major_img_certificate {
  width: 400px;
  height: 150px;
  line-height: 150px;
  font-size: 70px;
  background-color: var(--color-white);
  color: var(--color-blue);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
  margin-bottom: 16px;
}

.major_img_back,
.major_img_front,
.major_img_version,
.major_img_certificate {
  margin: 0 auto;
}

.major_img_certificate p {
  color: var(--color-black);
}

.major_img_front:hover,
.major_img_back:hover,
.major_img_version:hover,
.major_img_certificate:hover {
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in-out;
}

.major_title,
.major_deccription {
  color: var(--color-light-white);
  font-weight: bolder;
}

.major_deccription {
  font: var(--font-small);
}

.work_categories {
  margin: 40px;
}

.category_btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  box-shadow: 1px 1px 1px 1px var(--color-light-grey);
  position: relative;
}

.category_btn.selected,
.category_btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.category_btn.active .category_count,
.category_btn:hover .category_count {
  opacity: 1;
  top: 0;
}
.category_count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.works_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.works_projects.anim_out {
  opacity: 0;
  transform: scale(0.98) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.projects {
}

.project.invisible {
  display: none;
}

.project_img {
  max-width: 100%;
  max-height: 100%;
}

.project_description {
  position: absolute;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project_description {
  transform: translateY(0);
  opacity: 0.8;
}

.project_description h3 {
  color: var(--color-orange);
}

.project_description h3::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

#contact {
  background-color: var(--color-blue);
}

.contact_title,
.contact_eamil,
.contact_rights {
  color: var(--color-white);
}

.contact_title {
  margin: 30px 0;
}

.contact_link {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact_link i:hover {
  transform: scale(1.1);
  color: var(--color-dark-blue);
  transition: all var(--animation-duration) ease-in;
}

.arrow_up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration) ease-in;
}

.arrow_up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* 반응형 */

@media (max-width: 1164px) {
  .about_majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 20px;
  }

  .major img {
    width: 300px;
  }

  .major div {
    margin: auto;
  }
  .major_img_back {
    width: 300px;
    height: 550px;
  }
  .major_img_front {
    width: 300px;
    height: 120px;
  }
  .major_img_version {
    width: 300px;
    height: 190px;
    margin-bottom: 30px;
  }
  .major_img_version img {
    margin-top: 5px;
    margin-left: 5px;
  }
  .major_img_certificate {
    width: 300px;
    height: 100px;
    line-height: 100px;
  }

  .major_img_back:hover,
  .major_img_front:hover,
  .major_img_version:hover,
  .major_img_certificate:hover {
    transform: none;
    transition: none;
  }

  .skillset {
    flex-direction: column;
  }
}

@media screen and (max-width: 786px) {
  :root {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar_toggle_btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
  }

  .navbar_menu {
    flex-direction: column;
  }

  #navbar.navbar_dark {
    padding: 16px;
  }

  .navbar_menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar_menu.open {
    display: block;
  }
  .name {
    font-size: var(--font-large);
  }
  .about__jobs {
    margin-top: 20px;
  }
  .job_logo {
    width: 130px;
  }

  .about_majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 20px;
  }

  .major img {
    width: 300px;
  }

  .major div {
    margin: auto;
  }
  .major_img_back {
    width: 300px;
    height: 550px;
  }
  .major_img_front {
    width: 300px;
    height: 120px;
  }
  .major_img_version {
    width: 300px;
    height: 190px;
    margin-bottom: 30px;
  }
  .major_img_version img {
    margin-top: 5px;
    margin-left: 5px;
  }
  .major_img_certificate {
    width: 300px;
    height: 100px;
    line-height: 100px;
  }

  .major_img_back:hover,
  .major_img_front:hover,
  .major_img_version:hover,
  .major_img_certificate:hover {
    transform: none;
    transition: none;
  }

  .skillset {
    flex-direction: column;
  }

  .category_btn {
    margin: 4px 0;
  }

  .project {
    flex-grow: 1;
  }

  .section {
    padding: 16px;
    padding-top: 55px;
  }

  .arrow_up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
